# -----------------------------------------------------------------------------
# Commands
# -----------------------------------------------------------------------------
authconfig --enableshadow --passalgo=sha512
cdrom
cmdline
install
skipx
%include /tmp/lang.inc
%include /tmp/keyboard.inc
%include /tmp/timezone.inc
%include /tmp/rootpw.inc
%include /tmp/bootloader.inc
%include /tmp/network.inc
%include /tmp/firewall.inc
%include /tmp/selinux.inc
%include /tmp/storage-partitions-prep.inc
%include /tmp/storage-partitions.inc
%include /tmp/storage-volume-groups.inc
%include /tmp/storage-volume-groups-logical-volumes.inc
%include /tmp/end.inc

# -----------------------------------------------------------------------------
# Packages
# -----------------------------------------------------------------------------
%packages --nobase --nocore --ignoremissing --excludedocs
%include /tmp/packages.inc
%include /tmp/packages-exclude.inc
%end

# -----------------------------------------------------------------------------
# Pre-installation Script
# -----------------------------------------------------------------------------
%pre

get_boot_parameter ()
{
	local KEY="${1}"
	local DEFAULT="${2:-}"
	local VALUE="${DEFAULT}"

	if grep -Eiq "${KEY}=\"[^\"]*\"" /proc/cmdline; then
		# Extract space seperated values between double quotes.
		VALUE=$(
			/bin/sed "s~.*${KEY}=\"\([^\"]*\).*~\1~" \
			/proc/cmdline
		)
	elif grep -Eiq "${KEY}=[^ ]" /proc/cmdline; then
		VALUE=$(
			/bin/sed "s~.*${KEY}=\([^ ]*\).*~\1~" \
			/proc/cmdline
		)
	fi

	printf -- "${VALUE}"
}

BOOT_TIMEOUT=$(
  get_boot_parameter BOOT_TIMEOUT 5
)

BOOTLOADER_APPEND=$(
  get_boot_parameter BOOTLOADER_APPEND
)

BOOTLOADER_DISABLED=$(
  get_boot_parameter BOOTLOADER_DISABLED false
)

BOOTLOADER_THEME=$(
  get_boot_parameter BOOTLOADER_THEME text
)

FIREWALL_DISABLED=$(
  get_boot_parameter FIREWALL_DISABLED false
)

KEYTABLE=$(
  get_boot_parameter KEYTABLE us
)

LANG=$(
  get_boot_parameter LANG en_US.UTF-8
)

LV_ROOT_FSTYPE=$(
  get_boot_parameter LV_ROOT_FSTYPE ext4
)

LV_ROOT_SIZE=$(
  get_boot_parameter LV_ROOT_SIZE 1024
)

LV_SWAP_SIZE=$(
  get_boot_parameter LV_SWAP_SIZE 512
)

PART_BOOT_FSTYPE=$(
  get_boot_parameter PART_BOOT_FSTYPE ext4
)

PART_BOOT_SIZE=$(
  get_boot_parameter PART_BOOT_SIZE 250
)

ROOTPW=$(
  get_boot_parameter ROOTPW centos
)

SELINUX=$(
  get_boot_parameter SELINUX enforcing
)

TIMEZONE=$(
  get_boot_parameter TIMEZONE Etc/UTC
)

VG_ROOT_RESERVED_SPACE=$(
  get_boot_parameter VG_ROOT_RESERVED_SPACE 0
)

# Build up the bootloader command and parameters
CMD_BOOTLOADER="bootloader"
if [[ ${BOOTLOADER_DISABLED} == true ]]; then
	CMD_BOOTLOADER+=" --disabled"
else
	CMD_BOOTLOADER+=" --location=mbr"
	if [[ -n ${BOOTLOADER_APPEND} ]]; then
		CMD_BOOTLOADER+=" --append=\"${BOOTLOADER_APPEND}\""
	fi
fi

# Build up the firewall command and parameters
CMD_FIREWALL="firewall"
if [[ ${FIREWALL_DISABLED} == true ]]; then
	CMD_FIREWALL+=" --disabled"
else
  CMD_FIREWALL+=" --enabled --service=ssh"
fi

cat > /tmp/boot-timeout.inc <<-EOF
# Timout for bootloader defaults to 5 seconds - reduce for virtual guests.
/bin/sed -i \
  -e 's~^timeout=.*$~timeout=${BOOT_TIMEOUT}~g' \
  /etc/grub.conf \
  /boot/grub/grub.conf
EOF

cat > /tmp/bootloader.inc <<-EOF
${CMD_BOOTLOADER}
EOF

cat > /tmp/bootloader-theme.inc <<-EOF
# Set bootloader theme
/usr/sbin/plymouth-set-default-theme ${BOOTLOADER_THEME}

# Apply theme and reduce the size of the initramfs image.
/sbin/dracut -f -H
EOF

cat > /tmp/end.inc <<-EOF
reboot
EOF

cat > /tmp/firewall.inc <<-EOF
${CMD_FIREWALL}
EOF

cat > /tmp/keyboard.inc <<-EOF
keyboard ${KEYTABLE}
EOF

cat > /tmp/lang.inc <<-EOF
lang ${LANG}
EOF

cat > /tmp/lock-locale.inc <<-EOF
/usr/bin/chattr +i /etc/sysconfig/i18n
EOF

cat > /tmp/network.inc <<-EOF
network --device=eth0 --bootproto=dhcp --onboot=yes
EOF

cat > /tmp/no-network-manager.inc <<-EOF
/bin/sed -i \
  -e 's~^NM_CONTROLLED="yes"$~NM_CONTROLLED="no"~' \
  /etc/sysconfig/network-scripts/ifcfg-eth*
EOF

cat > /tmp/packages.inc <<-EOF
@core --nodefaults
nfs-utils
EOF

cat > /tmp/packages-exclude.inc <<-EOF
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-efibootmgr
# -grub
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
# -kernel-firmware
-kexec-tools
-libertas-usb8388-firmware
-netxen-firmware
# -postfix
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rdma
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
EOF

cat > /tmp/rootpw.inc <<-EOF
rootpw ${ROOTPW}
EOF

cat > /tmp/selinux.inc <<-EOF
selinux --${SELINUX}
EOF

cat > /tmp/storage-partitions-prep.inc <<-EOF
zerombr
clearpart --all --initlabel
EOF

cat > /tmp/storage-partitions.inc <<-EOF
part /boot --size=${PART_BOOT_SIZE} --fstype=${PART_BOOT_FSTYPE}
part pv.01 --size=1 --fstype=lvmpv --grow
EOF

cat > /tmp/storage-volume-groups.inc <<-EOF
volgroup vg_root --pesize=32768 --reserved-space=${VG_ROOT_RESERVED_SPACE} pv.01
EOF

if [[ ! ${LV_SWAP_SIZE} -eq 0 ]]; then
	cat > /tmp/storage-volume-groups-logical-volumes.inc <<-EOF
	logvol swap --vgname=vg_root --size=${LV_SWAP_SIZE} --name=lv_swap --fstype=swap
	EOF
fi

cat >> /tmp/storage-volume-groups-logical-volumes.inc <<-EOF
logvol / --vgname=vg_root --size=${LV_ROOT_SIZE} --name=lv_root --fstype=${LV_ROOT_FSTYPE} --grow
EOF

cat > /tmp/timezone.inc <<-EOF
timezone ${TIMEZONE} --utc
EOF

cat > /tmp/trim-locale-archive.inc <<-EOF
# Remove compiled locale resources for unused languages.
/usr/bin/localedef --list-archive | \
  /bin/grep -E -v "^(en_US|${LANG%%.*})" | \
  /usr/bin/xargs /usr/bin/localedef --delete-from-archive

/bin/mv /usr/lib/locale/locale-archive /usr/lib/locale/locale-archive.tmpl
/usr/sbin/build-locale-archive
/usr/bin/truncate -s 0 /usr/lib/locale/locale-archive.tmpl
EOF
%end

# -----------------------------------------------------------------------------
# Post-installation Script
# -----------------------------------------------------------------------------
%post
%include /tmp/boot-timeout.inc
%include /tmp/bootloader-theme.inc
%include /tmp/no-network-manager.inc
%include /tmp/trim-locale-archive.inc
%end